.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(17,17,17);
}

.caption {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.google-login {
    background-color: white;
    color: red;
    border-radius: 20px;
    border-width: 0;
    min-width: 15%;
    min-height: 10%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 23px;
    padding: 20px 20px;
}

.google-login:hover {
    background-color: lightgrey;
    transition: background-color 0.1s ease;
    cursor: pointer;
}