.button-header {
  width: 200px;
  height: 50px;
  font-size: 15px;
  background: rgb(85, 43, 140);
  border: none;
  border-radius: 11px;
  padding: 10px 0;
  color: #fff;
  transition: all .3s ease;
  cursor: pointer;
}

.button-header:hover:enabled{
  color: rgb(85, 43, 140);
  transition: all .3s ease;
  background: #fff;
}

.button-header:disabled {
  background-color:  gray;
}