.report-textarea {
    width: 80%;
    height: 50%;
    border: none;
    resize: none;
    padding: 5px;
}

.button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-wrapper button {
    font-size: 8px !important;
    font-weight: bold;
    padding: 10px 15px !important;
    width: 40% !important;
}