.report-textarea {
    width: 80%;
    height: 50%;
    border: none;
    resize: none;
    padding: 5px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}

.button-wrapper button {
    font-size: 15px !important;
    padding: 10px 15px !important;
    width: 50% !important;
}