.balance-wrapper {
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credit-cards {
    width: 350px;
    height: 150px;
    margin-top: 50px;
    border-radius: 40px;
    border-width: 0;
}

.credit-cards:hover {
    border-radius: 50px;
    cursor: pointer;
    transition: border-radius 0.1s ease;


}

.credit-card-div span {
 padding-top:10px;
 }
.credit-card-div img {
 padding-top:30px;
}
.credit-card-div .small-font {
 font-size:9px;
}
.credit-card-div .pad-adjust {
 padding-top:10px;
}
.container{
    border: none;
    background-color: rgb(17, 17, 17);
    margin-top: 20px;
}
.container *{
    box-shadow: none;
}
.row{
    border: 1px solid #eee;
    background-color: rgb(17, 17, 17) !important;
    box-shadow: none !important;
}